/* ESTILO TELA_LOGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}


.login-container {
    width: 300px;
    background-color: #edf2fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #525252;
    margin-bottom: 15px;
}


h1 {
    font-size: 33px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 45px;
    text-align: left;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 17px;
    font-size: 14px;
    
}


.login-btn {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    background-color: #002f6c;
    color: #fff;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 80px auto 0 auto; 
    text-align: center;
}

.login-btn:hover {
    background-color: #421acf;
}


@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .avatar img {
        width: 70px;
        height: 70px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .form-group label,
    .form-group input {
        font-size: 13px;
    }

    .login-btn {
        padding: 8px;
        font-size: 15px;
    }
}


/* ESTILO TELA_NOTIFICAÇÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    background-color: #edf2fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    color: #333;
 
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


.button-group button {
    flex: 1;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button.active {
    background-color: #002f6c;
    color: #fff;
    border: none;
}

.form-group {
    margin-bottom: 15px;
    
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #dadada;
}

.form-group textarea {
    resize: none;
    height: 150px;
}

.submit-btn {
    width: 70%;
    padding: 8px;
    font-size: 15px;
    background-color: #002f6c;
    color: #fff;
    border: none;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin: 0 auto; 
    text-align: center;
}

.submit-btn:hover {
    background-color: #421acf;
}


@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .button-group button {
        padding: 8px;
        font-size: 14px;
    }

    .form-group label {
        font-size: 13px;
    }

    .form-group select,
    .form-group textarea {
        font-size: 13px;
    }

    .submit-btn {
        padding: 8px;
        font-size: 15px;
    }
}

/* ESTILO TELA_INICIAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.admin-container {
    width: 300px;
    height:500px;
    background-color: #edf2fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.admin-container h1 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 80px;
    text-align: center;
}


.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.action-button {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #002f6c !important; 
    color: #ffffff !important; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-decoration: none !important; 
    outline: none;
}


.action-button:hover {
    background-color: #ffffff !important;
    color: #002f6c !important;
    text-decoration: none; 
}


.icon {
    width: 27px;
    height: 27px; 
}

@media (max-width: 480px) {
    .admin-container {
        padding: 15px;
    }

    .action-button {
        padding: 10px;
        font-size: 15px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 10px;
}


.cadastro-container {
    width: 300px;
    background-color: #edf2fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cadastro-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; 
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group select option {
    background-color: #333; 
    color: #ffffff; 
}

.form-group input:focus,
.form-group select:focus {
    border-color: #7b5bf2;
}


.submit-btn {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    background-color: #7b5bf2;
    color: #fff;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #5e31ff;
}


@media (max-width: 480px) {
    .cadastro-container {
        padding: 15px;
    }

    .cadastro-container h1 {
        font-size: 20px;
    }

    .form-group label {
        font-size: 13px;
    }

    .form-group input,
    .form-group select {
        font-size: 13px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 15px;
    }
}

/* ESTILO TELA_CADASTRO_PROFESSOR*/
.form-group-professor {
    margin-bottom: 15px;
    text-align: left; 
}

.form-group-professor label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group-professor input,
.form-group-professor select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group-professor select option {
    background-color: #333; 
    color: #ffffff; 
}

.form-group-professor input:focus,
.form-group-professor select:focus {
    border-color: #7b5bf2;
}

.form-group-professor input,
.form-group-professor select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #ffffff; 
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group-professor select option {
    background-color: #ffffff; 
    color: #333; 
}

.form-group-professor input:focus,
.form-group-professor select:focus {
    border-color: #7b5bf2; 
}


/* ESTILO TELA_CADASTRO_ALUNO*/
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #ffffff; 
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group select option {
    background-color: #ffffff; 
    color: #333; 
}

.form-group input:focus,
.form-group select:focus {
    border-color: #7b5bf2; 
}


/* ESTILO TELA_RECEBER_MENSAGEM*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.message-container {
    width: 300px;
    background-color: #edf2fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.message-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 90px;
    text-align: center;
}


.message {
    margin-bottom: 25px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #002f6c;
    color: white;
    border-radius: 8px;
}

.message-body {
    display: none;
    padding: 10px;
    background: white;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}

button.toggle-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    background-color: #002f6c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #421acf;
}

@media (max-width: 480px) {
    .message-container {
        padding: 15px;
    }

    .header {
        font-size: 18px;
    }

    .message-header,
    .message-body button {
        font-size: 13px;
    }
}
